# Ignore all contents of these folders
artifacts/category_model/*
artifacts/translation_dict/*

# But keep the folders by tracking a placeholder file
!artifacts/category_model/.gitkeep
!artifacts/translation_dict/.gitkeep



about.txt
sample.txt
src\__pycache__