artifacts/category_model/
artifacts/translation_dict

#Ignore compiled python files
__pycache__/
*.pyc
*.pyo
*.pyd

venv/
env/
.env
.venv
*.egg-info/
dist/
build/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
*.log
test_results.json
